{% extends "base.html" %}



{% block content %}


<h1>{{ item.details.chamber.name }} - {{ item.details.date }} - {{ item.details.division_number }}</h1>


<h2>{{ item.details.division_name|safe }}</h2>

<p><a href="{{ item.details.twfy_link }}">View vote in TheyWorkForYou</a></p>

<h2>Analysis</h2>

<p style="text-style:italic">Some analysis results are experimental.</p>
<p style="text-style:italic">Motion analysis is based on keywords within the identified motion. Some false assignments,
    but usually in favour of the wrong or a more significant motion type. Generally fine for moving past less relevant
    motions, but review against actual motion.</p>
<p style="text-style:italic">Similarly, analysis of use of powers is based on motions, errors there pass through.</p>


<h3>Result</h3>

{% if item.overall_breakdown.motion_result_int == 1 %}
<p> Motion passed.</p>
{% else %}
<p> Motion failed.</p>
{% endif %}

<p>Vote had {{ item.overall_breakdown.vote_participant_count }} participants.</p>


{% with cluster = item.details.cluster_desc() %}

{% if cluster %}
<h3>Voting cluster</h3>

<p>{{ item.details.cluster_desc() }}</p>

{% endif %}
{% endwith %}

{% if item.details.vote_motion_analysis %}

<h3>Vote type</h3>

<p>{{ item.details.vote_type() }}</p>

{% endif %}


<h3>Use of parliamentary powers</h3>

{% with powers = item.details.motion_uses_powers() %}
{% if powers == "uses_powers" %}
<p>Yes. Automated analysis suggests this decision relates to Parliamentary powers.</p>
{% elif powers == "does_not_use_powers" %}
<p>No. Automated analysis suggests this decision does not relate to Parliamentary powers.</p>
{% elif powers == "insufficent_info" %}
<p>Insufficent information based on motion avaliable.</p>
{% endif %}
{% endwith %}



{% if item.details.vote_motion_analysis %}

<h2>Reduced Motion</h2>

<p>{{ item.details.vote_motion_analysis.tidied_motion }}</p>

{% with twfy_link = item.details.vote_motion_analysis.twfy_motion_url() %}
{% if twfy_link %}
<p><a href="{{ twfy_link }}">View motion in TheyWorkForYou</a></p>
{% endif %}
{% endwith %}

<h2> More motion options </h2>
<button data-bs-toggle="collapse" data-bs-target="#extracted-question">Extracted question</button>
<div id="extracted-question" class="collapse ">
    {{ item.details.vote_motion_analysis.question|safe }}
</div>

<button data-bs-toggle="collapse" data-bs-target="#full-motion">Full motion speech</button>
<div id="full-motion" class="collapse ">
    {{ item.details.vote_motion_analysis.full_motion_speech|safe }}

</div>

{% endif %}


{% if item.details.manual_motion %}

<h2>Manual motion description</h2>

<p style="font-style: italic;">This manual description was extracted from the PublicWhip description. When present, it
    is used in combination with the motion text to evaluate if a motion was substantive.</p>


{{ item.details.manual_motion }}

{% endif %}


<h2>Voting breakdown</h2>

{{ item.gov_breakdown_df()|safe }}


<h2>Party voting breakdown</h2>

{{ item.party_breakdown_df()|safe }}


<h2>Voting list</h2>

{{ item.votes_df(request)|safe }}


{% endblock content %}